:root{
  --primary-dark: rgb(245, 245, 245);
  --secondary-dark: #dacaca;
  --primary-light: rgba(0, 0, 0, 0.596);
  --secondary-light: #ffffff;
}


body{
  background-color: var(--primary-light);
  font-family: "dynaPuff",cursive;

}

button,input{
  width:100%;
  border:none;
  color:inherit;
  font-family: inherit;
  font-size:24px;
  cursor:pointer;
  
}
.header{
  font-family: 'Silkscreen', cursive;
  color:white;
  text-align: center;
  font-size: 80px;
  margin-bottom: 50px;
}
header p{
  margin-top: 0px;
  font-size: 20px ;
}

.main {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap:100px;
  max-width: 1400px;
  margin:0 auto;
}
.settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  width: 200px;
  color:white
}
button{
  padding:10px 20px;
  border:1px solid var(--primary-dark);
  border-radius: 5px;
}

button:active{
  background-color: var(--primary-dark);
  color:var(--primary-light)
}
button,input[type="color"]{
  transition:transform 0.2s ease-in-out;
  background-color: inherit;
}
button:hover, input[type="color"]:hover{
  transform:scale(1.05);

}
input[type="color"]:active{
  transition: transform 0.3s ease-in-out;
  transform:scale(1.5);
}
input[type="color"]{
  -webkit-appearance: none;
  border:none;
  width: 90px;
  height:90px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 500px;
}

audio{
  margin-top: 100px;
  margin-bottom: -100px;
}
.grid{
  display:grid;
  border: 0.5px solid black;
  justify-content: center;
  width: 800px;
  height:800px;
  background-color: var(--secondary-light);
  box-shadow: rgba(0, 0, 0, 0.24)0px 3px 8px;
}
.grid.deactivated .border-grid{
  border:0;

}
.grid-element{
  user-select: none;
}
.border-grid{
  border:1px solid rgb(142, 142, 142);
}

.size-value{
  margin-bottom: -20px;
  font-size:20px;
}
input[type='range'] {
  -webkit-appearance: none;
  background-color: rgba(99, 96, 96, 0.596)
}

input[type='range']::-webkit-slider-runnable-track {
  height: 13px;
  border: 1px solid var(--primary-light);
  border-radius: 25px;
  background: var(--primary-dark);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin-top: -11.5px;
  background: black
}
#player{
  width: 20%;
  height: 20px;
}
@media (max-width: 1200px) {
  .main {
    justify-content: center;
    align-items: center;
  }
  #player{
    margin-bottom: 0px;
  }
}

@media (max-width: 850px) {
  .main {
    gap: 50px;
  }

  .settings {
    width: 150px;
    gap: 16px;
  }

  .size-value {
    margin-bottom: -4px;
  }

  .grid {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 50px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .grid {
    width: 300px;
    height: 300px;
  }
}